*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
       background-image: url("naruto-g73f8fd266_1920.jpg");
}
.game_container{
    font-size: 18px;
    background-color: antiquewhite;
    width: 85vw;
    height: 54%;
    max-width: 43em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    padding: 3em;
    border-radius: 20px;
    box-shadow: 0 1em 2em rgba(111, 85, 0, 0.25);
}
#options_container{
    text-align: center;
}
#options_constainer div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 2em 0 ;
}
#options_container button{
    padding: .6em 1.2em;
    border: 3px solid grey;
    background-color: antiquewhite;
    color: grey;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
#options_container button:disabled{
    border: 3px solid grey;
    color: grey;
    background-color: antiquewhite;
}
#options_container button.active{
    background-color: blue;
    border: 3px solid grey;
    color: antiquewhite;
}.letter_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}
#letter_container button{
    height: 2.4em;
    width: 2.4em;
    border-radius: 10px;
    background-color: antiquewhite;
    cursor: pointer;
}
.new_game_container{
    background-color: antiquewhite;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
#user_input_container {
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin: 20px 0 40px 0;
}
canvas{
    display: block;
    margin: auto;
    border: 3px solid grey;
    border-radius: 10px;
}
.hide{
    display: none;
}
result_prompt h2{
    font-size: 60px;
    text-align: center;
}
result_prompt p{
    font-size: 40px;
    margin: 30px 0 70px 0;
}
#result_prompt span {
    font-weight: 500;
}
new_game_button{
    font-size: 20px;
    padding: 18px 36px;
    background-color: antiquewhite;
    border: 3px solid grey;
    color: antiquewhite;
    border-radius: 7px;
    cursor: pointer;
}
.winning_message{
    color: aqua;
}
.losing_message{
    color:brown
}
